.list_carousel {
	padding: 15px 0 15px 40px;
	padding: 0;
}
.list_carousel ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
}
.list_carousel li {
	font-size: 30px;
	color: #666;
	text-align: center;
	background-color: #f0f0f0;
	border: 5px solid #ccc;
	width: 50px;
	height: 50px;
	padding: 0 10px 0 0;
	margin: 0;
	display: block;
	float: left;
}
.clearfix {
	float: none;
	clear: both;
}

.loader {
	background-image: url("loaders/Circle Ball.gif");
	height: 100px;
	background-repeat: no-repeat;
	background-position: center;
	display: none;
}